<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dynamic_sql.dao.MemberDao">

    <resultMap id="member" type="Member">
        <id column="member_id" property="memberId"/>
        <result column="member_nick" property="memberNick"/>
        <result column="member_gender" property="memberGender"/>
        <result column="member_age" property="memberAge"/>
        <result column="member_city" property="memberCity"/>
    </resultMap>

    <select id="searchMember" resultMap="member">
        select member_id,member_nick,member_gender,member_age,member_city
        from members
        <trim prefix="where" prefixOverrides="and | or" suffix="order by member_age">
            <if test="gender != null"> and member_gender = #{gender} </if>
            <if test="minAge != null"> and member_age &gt;= #{minAge} </if>  <!-- 大于用&gt; -->
            <if test="maxAge != null"> and member_age &lt;= #{maxAge} </if>  <!-- 小于用&lt; -->
            <if test="city != null"> and member_city = #{city} </if>
        </trim>
    </select>

<!--    根据城市列表查询-->
    <select id="searchMemberByCity" resultMap="member">
        select member_id,member_nick,member_gender,member_age,member_city from members
        where member_city in
        <foreach collection="list" item="cityName" separator="," open="(" close=")">
            #{cityName}
        </foreach>
    </select>

<!--    根据昵称模糊查询 (传递字符串要指定类型) -->
    <select id="searchMemberByNick" parameterType="java.lang.String" resultMap="member">
        select member_id,member_nick,member_gender,member_age,member_city from members
        where member_nick like '%${qqq}%'
    </select>
<!-- #{} 是先完成预编译后再拼接到字符串 -->
<!-- ${} 是先完成拼接字符串再执行预编译 -->



</mapper>