<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"/>
    
    <typeAliases>
        <typeAlias type="com.demo02.dto.User" alias="User"/>
        <typeAlias type="com.demo02.dto.Detail" alias="Detail"/>
        <typeAlias type="com.demo02.dto.Classes" alias="Classes"/>
        <typeAlias type="com.demo02.dto.Student" alias="Student"/>
    </typeAliases>

    <!--配置数据源（数据库连接信息）-->

    <!--可以设置多个（但只用default）-->
    <environments default="mysql">
        <environment id="mysql">
            <!--用于配置数据库管理方式-->
            <transactionManager type="JDBC"/>
            <!--用于配置数据库连接信息-->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/UserMapper.xml"/>
        <mapper resource="mappers/DetailMapper.xml"/>
        <mapper resource="mappers/ClassesMapper.xml"/>
        <mapper resource="mappers/StudentMapper.xml"/>
    </mappers>

</configuration>